{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ blog_detail.title }}</h1>

  <p><strong>Post date:</strong> {{ blog_detail.date }} </p>
  <p><strong>Author:</strong> <a href="{% url 'blog-author-detail' blog_detail.author.pk %}">{{ blog_detail.author }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Description:</strong> {{ blog_detail.post }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Comments</h4>

    {% for comment in blog_detail.comment_set.all %}
    <hr>
    <p> {{comment.comment_author}} ({{comment.comment_date}}) - {{comment.description}}</p>
    {% endfor %}
    {% if user.is_authenticated %}
      <p><a href="{% url 'add-comment' blog_detail.pk %}">Add a new comment</a></p>
    {% else %}
      <p><a href="{% url 'login' %}">Login</a> to add a new comment</p>
    {% endif %}
  </div>
{% endblock %}